# Python venvs
.venv/
venv/
**/.venv/
**/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
models/llama-2-7b.Q4_0.gguf
models/
*.gguf
*.bin
*.onnx
*.log
.env
server/llama.cpp/build/
server/llama.cpp/*.so
server/llama.cpp/*.a
server/whisper.cpp/
server/llama.cpp/